header{
 background-color:#f6f6f6;
 padding: 20px;
 text-align: center;
 width: 99%;
}

header h1{
 color: #f6f6f6;
 border: 8px solid #f6f6f6;
 padding: 6px 12px;
 display: inline-block;
 border-radius: 36px;
}

.banner{
 width: 102%;

}

.banner welcome{
 background-color: #00ffff;
 color: #fffaf0;
 padding: 20px;
 

}
.banner h2{
 font-size: 30px;
}

.banner h2 span{
  font-size: 1.3em;
}

nav ul{
list-style: none;
}
nav li{
 width: 25%;
 float: left;
 font-size: 24px;
 padding: 10px;

}

div{
  height: 200px;
  width: 100%;
}
.outer{
  width: 100%;
  display: inline-block;
}
.first{
  width: 30%;
  display: inline-block;
  float: left;
}